/* form .login_btn_btn{
  color: black;
background-color: #e92121;
width: 200px;
border: 1px solid  #e92121;
}
form .login_btn_btn:hover{
  color: black;
  background-color: white;
  } */

:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .delete-button:hover {
    background-color: transparent;
  }
  form {
    width: 1800px;
    margin: 10px auto;
    margin-top: 25px;
    padding: 10px 100px;
    border-radius: 8px;
  
    h1 {
      margin: 0 0 30px 0;
      text-align: center;
    }
  
    mat-form-field {
      background-color: transparent;
      width: 200%;
      border: none;
    }
  
    .btn {
      padding: 19px 39px 18px 39px;
      color: #fff;
      background-color: rgb(52, 9, 225);
      font-size: 18px;
      text-align: center;
      font-style: normal;
      border-radius: 5px;
      width: 200%;
      border: 1px solid  rgb(52, 9, 225);
      border-width: 1px 1px 3px;
      box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
      margin-bottom: 10px;
      width: 200%;
    }
  
    fieldset {
      margin-bottom: 30px;
      border: none;
      width: 100000px;
    }
  
    label {
      display: block;
      margin-bottom: 8px;
  
      &.light {
        font-weight: 300;
        display: inline;
      }
    }
  }
  
  
  form .btn_return{
    /* width:20%;
    background-color:rgba(251, 251, 253, 0.941);
    color:blue;
    text-align: left; */
    width: 5%;
    background-color: rgba(251, 251, 253, 0.941);
    color: blue;
    text-align: left;
    position: fixed;
    bottom: 1;
    left: 1;
  }
  
  
  
  .container {
    background-position: right center;
    background-size: auto;
    background-repeat: no-repeat;
    display: flex;
    background-attachment: fixed;
    justify-content: flex-start;
    /* Align items to the start of the container */
    height: 100vh;
    align-items: center;
    background-image: linear-gradient(75deg, rgb(6 6 6 / 64%) 8%, transparent),
      url("https://img.freepik.com/free-vector/cross-platform-frameworks-abstract-concept-illustration_335657-1825.jpg?size=626&ext=jpg&uid=R141090659&ga=GA1.1.646561615.1710092758&semt=ais");
  }
  
  .container img {
    width: 50%;
    /* Set width for the image */
  
  }
  
  .container form {
    width: 50%;
    /* Set width for the form */
    margin-right: 1000px;
    margin-left: 100px;
  }
