<footer id="footer">
  <div class="footer__container">
      <div class="footer_about">
          <div style="display: flex; align-items: center;">
              <div style="border-radius: 50%; overflow: hidden; width: 10%; max-width: 100vw; margin-left: 2%;">
                  <img src="../../assets/images/1.jpg"
                      style="width: 100%;" alt="" loading="lazy">
              </div>
              <span style="margin-left: 10px;">Coursera</span>
          </div>
          <p>Duis imperdiet sapien tortor, vitae congue diam auctor vitae. Aliquam eget turpis ornare, euismod
              ligul
              aeget, enenatis dui.</p>
      </div>
      <div class="employees__categories">
          <p>CATEGORIES</p>
          <br>
          <div class="categories">
              <ul>
                  <li> <a routerLink="/home" routerLinkActive="active"><b> Home Page</b></a></li>
                  <li> <a routerLink="/courses"><b> all courses</b></a></li>
                  <li> <a routerLink="/add"><b>add course</b> </a></li>
                  <li> <a routerLink="courses/edit"><b>edit course</b> </a></li>
                  <li> <a routerLink="user/register"><b> register</b></a></li>
                  <li> <a routerLink="user/logout" routerLinkActive="active" *ngIf="connect()">>Logout</a></li>
              </ul>
          </div>
      </div>
      <!-- <div class="newsletter">
          <p>NEWSLETTER</p>
          <br>
          <p style="font-size: smaller;">SUBSCRIBE HERE NOW</p>
          <br>
          <span>
              <input type="text" placeholder="Email Address" #emailInput><button class="btn"
                  (click)="sendEmail(emailInput.value)"><i class="far fa-paper-plane"></i></button>
          </span>
          <p>Subscribe to our mailing list and get updates to your email inbox.</p>
      </div> -->
  </div>
  <div class="copyright">
      <p>&#169; 2024 Coursera. this a site built by | <strong>Yehudit Ashlag.</strong> </p>

      
       
          <!-- <div><i class="fab fa-facebook-f"></i></div>
          <div><i class="fab fa-linkedin-in"></i></div>
          <div><i class="fab fa-twitter"></i></div>
          <div><i class="fab fa-google-plus-g"></i></div>
          <div><i class="fab fa-github"></i></div> -->



          <div class="social-icons">
            <div><i class="fab fa-facebook-f"></i></div>
            <div><i class="fab fa-linkedin-in"></i></div>
            <div><i class="fab fa-twitter"></i></div>
            <div><i class="fab fa-instagram"></i></div>
            <div><i class="fab fa-whatsapp"></i></div>
          </div>
          
<!--         
            <div><mat-icon>facebook</mat-icon></div>
            <div><mat-icon>linkedin</mat-icon></div>
            <div><mat-icon>twitter</mat-icon></div>
            <div><mat-icon>instagram</mat-icon></div>
            <div><mat-icon>whatsapp</mat-icon></div>
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon> -->

            <!-- <mat-icon class="mat-icon-rtl-mirror" svgIcon="thumb-up"></mat-icon> -->
        </div>
  
</footer>