:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  form {
    width: 1800px;
    margin: 10px auto;
    margin-top: 25px;
    padding: 10px 100px;
    border-radius: 8px;
  
    h1 {
      margin: 0 0 30px 0;
      text-align: center;
    }
  
    mat-form-field {
      background-color: transparent;
      width: 150%;
      border: none;
    }
  
    .btn {
      padding: 19px 39px 18px 39px;
      color: #fff;
      background-color: blue;
      font-size: 18px;
      text-align: center;
      font-style: normal;
      border-radius: 5px;
      width: 150%;
      border: 1px solid blue;
      border-width: 1px 1px 3px;
      box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
      margin-bottom: 10px;
     
    }
  
    fieldset {
      margin-bottom: 30px;
      border: none;
      width: 100000px;
    }
  
    label {
      display: block;
      margin-bottom: 8px;
  
      &.light {
        font-weight: 300;
        display: inline;
      }
    }
  }
    
  form .btn_return{
    width:20%;
    background-color:rgba(251, 251, 253, 0.941);
    color:blue;
    text-align: right;
  }
  
  .container {
    background-position: right center;
    background-size: auto;
    background-repeat: no-repeat;
    height: 100vh;

    display: flex;
    background-attachment: fixed;
    justify-content: flex-start;
    align-items: center;
    background-image: linear-gradient(75deg, rgb(6 6 6 / 64%) 8%, transparent),
      url("https://img.freepik.com/free-vector/exams-concept-illustration_114360-2173.jpg?w=740&t=st=1710168044~exp=1710168644~hmac=5984756b5fd9540e34d29edffa33820dc70fd454c33b4a20f30e9abd4bf7c6ee");
  }
  .container img {
    width: 50%;
  }
  
  .container form {
    width: 50%;
    margin-right: 1000px;
    margin-left: 100px;
  }